.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.dbmdl
*.log
*.ncrunch*
*.ide
*.sln.docstates
.idea/
*.sln.iml
**/Properties/PublishProfiles/
_ReSharper*/
*.DotSettings.user
.DS_Store
Thumbs.db
node_modules/
npm-debug.log
yarn-error.log
**/Generated/
**/wwwroot/uploads/
**/wwwroot/pdfs/
**/wwwroot/audiobooks/
.vscode/
*.vsix
*.cache
*.nupkg
packages/
.nuget/
*.pid
*.seed
*.db
*.sqlite
*.sqlite3
*.tmp
*.bak
*.backup